fastapi[standard]
requests
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
argon2-cffi
redis
python-decouple
python-json-logger
uvicorn[standard]
passlib[bcrypt]
pytest
pytest-cov
pytest-asyncio
httpx
